.mainContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    font-size: 50px;
    margin: 20px;
}

.content{
    display: flex;
    gap: 10px;
}

.mainCommands{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Controls */

.colorControl, .resetCommands , .gridControl, .colorBackgroundControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

#gridSlider{
    min: 0;
    max: 100;
    step: 2;
    width: 200px;
}

#colorBackgroundPicker, #colorPicker{
    width: 150px;
    border: 0px;
    background-color: #fff;
}
.mainGrid {
    width: 40vw;
    height: 30rem;
    min-height: 600px;
    min-width: 500px;
    border: 5px solid black;
    display: grid;
    grid-gap: 0px;
    box-sizing: border-box;
}
.grid{
    box-sizing: border-box;
    border: 1px solid black;

}

