.mainContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    font-size: 50px;
    margin: 20px;
}

.content{
    display: flex;
    gap: 10px;
}

/* Controls */
#gridSlider{
    min: 0;
    max: 100;
    step: 2;
}


.mainGrid {
    width: 700px;
    height: 700px;
    min-height: 500px;
    min-width: 500px;
    border: 5px solid black;
    display: grid;
    grid-gap: 0px
}
.grid{
    box-sizing: border-box;
    border: 1px solid black;

}

